.cache/
.oh-my-zsh/
.Trash/
.vscode/
.zsh_sessions/

Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/

.CFUserTextEncoding
.DS_Store
.lesshst
.viminfo
.zcompdump*
.zsh_history
.zshrc.*
