[user]
	name = Ammaar Limbada
	email = ammaar.limbada@madetech.com
[core]
	excludesfile = /Users/ammaarlimbada/.gitignore_global
	pager = less -FX
[commit]
	template = /Users/ammaarlimbada/.stCommitMsg
[diff]
	tool = p4merge
[merge]
	tool = p4merge
[mergetool "p4merge"]
	path = /opt/homebrew/bin/p4merge
[difftool "p4merge"]
	cmd = /opt/homebrew/bin/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew/bin/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[pull]
	rebase = false
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
