[user]
	name = Ammaar Limbada
	email = alimbada@users.noreply.github.com
[core]
	pager = less -FX
[pull]
	rebase = false
[credential]
	credentialStore = cache
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
